<body>
    <ion-img  src="../../assets/porco_logo2-removebg-preview.png" style="width: 90vw; justify-self: center; align-self: center;" ></ion-img>
    <h1>Bem vindo(a)</h1>

    <ion-button (click)="showLogin()" id="entrar" expand = "round" color="secondary" ><p style="color: white;">Entrar</p> </ion-button> <!--(click)="showLogin() vai para a pag de login-->
    <ion-button (click)="showRegistro()" id="cadastro" expand="round" color="secondary" ><p style="color: white;">Fazer cadastro</p> </ion-button><!--(click)="showRegistro() vai para a pag de registro-->

    
</body>  